<%= form_for(@estilo) do |f| %>
  <% if @estilo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estilo.errors.count, "error") %> prohibited this estilo from being saved:</h2>

      <ul>
      <% @estilo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
