html,
body {
    margin: 0;
    color: DarkSlateGrey;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #33333;
}
head{
}
div#main {
    margin: 0;
    padding: 0 20px 20px;
}
div#cabeceira{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding-left: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    z-index: 100;
}
/*PÁXINA GRANDE*/
@media all and (min-width: 1001px) {
    div#menuSuperior{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 100%;
        position: fixed;
        top: 50px;
        text-align: center;
        background-color: #f5f5f5;
        z-index: 100;
        -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.52);
        -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.52);
        box-shadow: 0px 1px 1px rgba(0,0,0,.52);
    }
    div#enlaces{
        float: left;
        position: fixed;
        top: 100px;
        width: 200px;
        margin: 20px 25px 45px 25px;
        background: #f5f2f0;
        border-radius: 5px;
    }
    div#enlaces2{
        float: left;
        position: fixed;
        top: 350px;
        width: 200px;
        margin: 20px 25px 45px 25px;
        background: #f5f2f0;
        border-radius: 5px;
    }
    div#subida{
        margin-left: 25px;
        margin-top: 30px;
        padding-right: 30px;
        padding-bottom: 25px;
        background: #f5f2f0;
        border-radius: 15px;
        position: fixed;
        top: 100px;
        width: 320px;
        float: left;
    }
    div#index{
        text-align: center;
        background: #f5f2f0;
        border-radius: 15px;
        position: fixed;
        top: 100px;
        width: 100%;
        height: 70%;
    }
}
/*PÁXINA PEQUENA*/
@media all and (max-width: 1000px) {
    div#menuSuperior{
        float: left;
        width: 200px;
        position: fixed;
        top: 80px;
        text-align: center;
        background-color: #f5f5f5;
        border-radius: 5px;
        margin: 20px 25px 45px 25px;
    }
    div#menuSuperior a{
        display: block;
        margin-top: 5px;
    }
    div#enlaces{
        float: left;
        position: fixed;
        top: 300px;
        width: 200px;
        margin: 20px 25px 45px 25px;
        background: #f5f2f0;
        border-radius: 5px;
    }
    div#enlaces2{
        float: left;
        position: fixed;
        top: 480px;
        width: 200px;
        margin: 20px 25px 45px 25px;
        background: #f5f2f0;
        border-radius: 5px;
    }
    div#subida{
        margin-left: 25px;
        margin-top: 30px;
        padding-right: 30px;
        padding-bottom: 25px;
        background: #f5f2f0;
        border-radius: 15px;
        position: fixed;
        top: 260px;
        width: 320px;
        float: left;
    }
    div#index{
        text-align: center;
        background: #f5f2f0;
        border-radius: 15px;
        position: fixed;
        top: 100px;
        left: 250px;
        width: 80%;
        height: 70%;
    }
}
div#menuSuperior a{
        margin-left: 2%;
    }
div#contido{
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
}
div#paxina{
    margin-left: 250px;
    padding-right: 30px;
}
div#paxinaContidos{
    margin-left: 400px;
    padding-right: 30px;
}
div#notificacion {
    margin: 25px;
    background: #1fbd54;
    border-radius: 5px;
    #float: right;
    width: 200px;
    height: auto;
    text-align: center;
    position: fixed;
    bottom: 50px;
    #text-shadow: 0.1px 0.1px white;
    border: 2px solid darkgreen;
}
div#subida p{
    margin-left: 10%;
}
div#subida input{
    margin-left: 10%;
}
div#enlaces a,
div#enlaces2 a{
    margin-top: 5px;
    display: block;
    text-align: center;
}
div#selectorColor{
    border-radius: 15px;
    background: #f5f2f0;
    #position: fixed;
    #right: 30px;
    #bottom: 30px;
    float: right;
    width: 195px;
    height: 250px;
    #padding-left: 10px;
    padding-bottom: 10px;
    z-index: 0;
}
div#selectorColor h3{
    margin-left: 30px;
}
p#cargarGaleria{
    cursor: pointer;
    color: #0088cc;
}
p#cargarGaleria:hover,
p#cargarGaleria:active{
    color: #005580;
}
div#datos,
div#datosConGaleria{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    background: #f5f2f0;
    border-radius: 15px;
    padding: 30px;
    #overflow: hidden;
}
div#datos #tabla input, ol{
    margin-left: 0px;
}
div#datos p,
div#datosConGaleria p{
    #margin-top: 20px;
    #margin-left: 30px;
}
div#datos p:first-child{
    margin-top: 0px;
}
div#datos p:last-child{
    margin-bottom: 0px;
}
div#datos #tabla a{
    margin-left: 0px;
}
div#datos label,
div#datosConGaleria label,
div#datos input,
div#datosConGaleria input,
div#datos select,
div#datosConGaleria select,
div#datos textarea,
div#datosConGaleria textarea,
div#datos h3,
div#datosConGaleria h3,
div#datos iframe,
div#datosConGaleria iframe{
    #margin-left: 30px;
}
div#datos textarea{
    resize: horizontal;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
}
div#datos video{
    #margin-left: 30px;
    #margin-bottom: 30px;
    #margin-top: 30px;
    margin-right: 2%;
    margin-bottom: 2%;
}
div#datosConGaleria video{
    #margin-left: 30px;
    #margin-bottom: 10px;
}
div#selecionContido{
    margin-top: 15px;
}
div#propiedades{
    margin-top: 15px;
}
div#propiedades input,
div#propiedades select{
    margin-left: 10px;
}
div#datos img,
div#datosConGaleria img{
    #margin-left: 30px;
    #margin-top: 10px;
    #margin-bottom: 10px;
    margin-right: 2%;
    margin-bottom: 2%;
}
input,
select,
file{
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
}
a {
    color: #0088cc;
    text-decoration: none;
    outline-style: none;
}
a:hover,
a:active,
a:focus{
    color: #005580;
    #text-decoration: underline;
}
h1 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
table#tabla {
    font-size: 14px;
    background: #fff;
    border-spacing: 0px;
    width: 100%;
    #border: 1px solid #69c;
    border-radius: 5px;
    overflow: hidden;
}
table#tabla select{
    margin-left: 0px;
}
table#tabla th {
    font-weight: normal;
    color: #039;
    padding: 12px 17px 12px 17px;
    border-bottom: 2px solid #69c;
    font-size: 14px;
}
table#tabla th,
table#tabla td {
    padding: 7px 17px 7px 17px;
    color: #669;
    text-align: left;
}
table#tabla tbody tr:hover td{
    color: #339;
    background: #d0dafd;
}
table#tabla2{
    font-size: 12px;
    background: #f5f2f0;
    margin: 45px;
    width: 480px;
    border-spacing: 0px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #000;
}
table#tabla2 th{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
table#tabla2 td{
    color: #669;
    padding: 9px 8px 0px 8px;
}
table#tabla2 tbody tr:hover td{
    color: #009;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
}
form#diapositivas{
    
}
form#diapositivas label{
    margin-top: 10px;
}
p#explicacion{
    font-size: 10px;
    margin-top: -3px;
}
div#galeria{
    display: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    background: #fff;
}
div#galeria img,
div#galeria video{
    cursor: pointer;
}
div#galeria img:hover{}
div#galeria img,
div#galeria video{
    margin: 10px;
}
h4{
    text-align: center;
    border-bottom: 1.5px solid #ddd;
}
h3{
    text-align: left;
    border-bottom: 1.5px solid #ddd;
    #text-shadow: 2px 2px #fff;
    
}
h2{
    margin-left: 30px;
    border-bottom: 3px dotted black;
}
h1{
    margin-bottom: 30px;
    margin-right: 30px;
}
input[type=submit]{
    #margin: 10px;
}
table#tabla input[type=submit]{
    margin: 0px;
}
input[type=submit] {
  display: inline-block;
  #display: inline;
  padding: 4px 12px;
  #margin-bottom: 10px;
  #margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  #background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  #border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  #zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active,
input[type=submit].active,
input[type=submit].disabled,
input[type=submit][disabled] {
  color: #333333;
  background-color: #e6e6e6;
  #background-color: #d9d9d9;
}

input[type=submit]:active,
input[type=submit].active {
  background-color: #cccccc \9;
}

input[type=submit]:first-child {
  #margin-left: 0;
}

input[type=submit]:hover,
input[type=submit]:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

input[type=submit]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type=submit].active,
input[type=submit]:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type=submit].disabled,
input[type=submit][disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

textarea,
input[type=text],
select{
    border-color: rgba(82,168,236,0.8);
    outline: 0px none;
    #box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075)
        inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
    background-color: rgb(255,255,255);
    border: 1px solid rgb(204,204,204);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    display: inline-block;
    padding: 4px 6px;
    color: rgb(85,85,85);
    vertical-align: middle;
    border-radius: 4px;
}
input[readonly],
input[disabled]{
      cursor: not-allowed;
}

div#propiedades,
input#background_position_x,
input#background_position_y,
input#background_size_x,
input#background_size_y,
input#background_size_val,
select#background_size,
select#background_repeat,
select#background_position,
label#background_position_label,
label#background_repeat_label,
label#background_size_label{
    display: none;
}